$font-JAH: 'Just Another Hand';
$font-Julius:'Julius Sans One', sans-serif;
$font-Jura:'Jura', sans-serif;

$colorFondo: #CB7D36;
$col-10BackgroundColor: #C89E77;
$filaBorderColor: #C45E00;
$negro: #000000;
$blanco:#FFFFFF;
$hoverNav:#D9D9D9;
$bordeNav:#EC9E92;
$tituloTextStrokeColor: #750707;
$filaBackgroundColor: rgba(185, 89, 0, 0.87);


$columnas : repeat(12, 1fr);
$border-general: 1px solid #000000;
$boxdow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$filaBoxShadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
$filaBorderRadius: 0 0 33px 33px;
$tituloWidth: 35%;
$tituloFontSize: 8em;
$tituloLineHeight: 1;
$imagenWidth: 25%;
$bollitoWidth: 20%;
$bollitoMarginBottom: -2.5%;
$navFontSize: 2em;
$navEspecialMarginRight: 5%;
$width100: 100%;
$col-10ContainerImagenBorder: 2px solid #000000;

$col-10PNGRotate: -25deg;
$col-10PNGWidth: 70%;


$mostradorWidth: 70%;
$barraPNGTamaño: 65%;
$margin-15: 15%;
$cuartaImgWidth: 40%;
$footerHeight: 700px;
$imagenContenedor1: url(panes/pan-de-trigo-rustico-foto-principal.jpg);
$imagenContenedor2:url(panes/photodune-10383425-baker-hands-with-fresh-bread-on-table-m-1.jpg);
$textoTituloWidth: 50%;
